* {
  box-sizing: border-box;
}
.container {
  width: 70%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 100px;
  object-fit: cover;
  object-position: center;
  margin: auto;
  font-family: sans-serif;
}
.headline {
  margin-top: 100px;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 1em;
  color: #441b27;

  font-size: 50px;
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: none; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: sans-serif;
  color: #441b27;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #6e6e6e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #777777;
  font-family: sans-serif;
}

/* Add a background color and some padding around the form */

.mail {
  padding-bottom: 2em;
  font-size: 25px;
  font-weight: bold;
}

.footericons {
  width: 40px;
  height: auto;
  border: 50px;
}

.footericonbar {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footerend {
  background-color: white;
}

.we {
  font-size: 15px;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.label {
  color: rgb(148, 36, 36);
  padding: 8px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
