* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif, Arial, Helvetica;
  }
  .contactgrid {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .container1 {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    padding-top: 50px;
    padding-left: 40px;
  }
  .container2 {
    padding-top: 50px;
    padding-right: 40px;
  }
  
   

  .returnbutton {
    background-color: transparent;
  border: none;
  color: rgb(36, 36, 36);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  }
  
  .preparing {
    width: 70%;
    margin: auto;
  }
  .returnicon {
color: blue;
  }
  <!--